@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

.sidebar {
    background-color: rgb(141, 237, 237);
    width: 250px;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
}

.sidebar nav {
    padding: 45px; 
}

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding: 33px 0;
   
}
.sidebar nav li a{
    text-decoration: none;
    color: rgb(55, 11, 200);
}

.main {
    /*  background-color: rgb(16, 182, 204);*/
    width: 90vw;
}

.container {
    display: flex;
}

.infoContainer {
    height: 50vh;
    width: 78vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello {
    color: rgba(18, 121, 224, 0.888);
    font-size: 45px;
    font-family: 'Fira Sans', sans-serif;

}

.name {
    font-size: 40px;
    font-weight: bold;
    color: rgba(18, 121, 224, 0.888);

}

.about {
    font-size: 18px;
    font-weight: bold;
    color: rgba(18, 121, 224, 0.888);
    font-family: 'Fira Sans', sans-serif;

}

.moreabout {
    font-size: 20px;
    margin-top: 23px;
    font-family: 'Fira Sans', sans-serif;
    color: rgba(18, 121, 224, 0.888);
}
.btn {
    margin-top: 34px;
}
.btn {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: dodgerblue;
}
.btn-sm{
    font-size: 15px;
    padding: 10px 17px;
    margin: 10px 0;
}

.devPic img {
    height: 50vh;

}

.contactform {
    font-family: 'Fira Sans', sans-serif;
    padding: 0 34px;
    padding-top: 144px;
    padding-bottom: 335px;
    background-color: rgb(228, 238, 235);
    
}


.contactform h1 {
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;
}

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    
}
.contactform form div{
    width: 26vw;
    border-radius: 5px;
    margin: 6 0 0 0;
    padding: 3px;
}

#emailHelp{
    font-size: 15px;
    color: midnightblue;
    margin: 0 5;
    padding: 3px 0 0 0;
}

#form-check{
flex-direction: row;
}
#form-check input{
 width: 24px;
 margin: 3px 0;   
}
.blog{
    background-color: aliceblue;
    padding-bottom: 10px;
}
.blogitem{
margin: 35px;
font-family: 'Fira Sans', sans-serif;

}
h1{
   text-align: justify;
   font-size: 11;
   margin-left: 10px;   
}
.blogitem h2 {

}

p{
  margin-top: 8px;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 14px;
}

.aboutblog h1{
text-align: center;
padding: 15px 0 0 0;
}

.intro h2{
    font-family: 'Fira Sans', sans-serif;
margin: 0 12px;
margin: 12px;
}

.intro p{
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
    font-size: 18px;
}

.skillitem{
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
 display: flex;
 align-items: center;
}
.skill{
    width: 265px;
    height: 6px;
    background-color: red;
    border: solid;
}

.skillcontainer{
  padding: 12px;
}

.hundred{
    width: 265px;
    background-color: rgb(11, 230, 230);
}
.fifty{
    width: 125px;
    background-color: rgb(144, 205, 38);
}

.t5{
    width: 75px;
background-color: rgb(206, 42, 42);
}
